.eDashboard{
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#eDashContent{
    position: relative;
    background: rgb(0, 0, 0);
    width: 100vw;
    height: 95%;
    margin-top: 4%;
    display: flex;
    justify-content: space-around;
    padding-top: 0.5%;
}

#eDashSide{
    position: relative;
    height: 99%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#eDashGraph{
    position: relative;
    height: 99%;
    width: 83%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
}

.eMainGraph{
    position: relative;
    border: none;
    height: 49%;
    /* background: rgba(235, 231, 231, 0.096); */
    /* border-radius: 15px; */
    display: flex;
    justify-content: space-between;

    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
        border-radius: 15px;
        background-color: rgba(255, 255, 255, .15);
    
        backdrop-filter: blur(10px);
}

.eDashBest{
    position: relative;
    background: rgba(138, 138, 138, 0.74);
    width: 100%;
    height: 48%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.eBestHeader{
    position: relative;
    width: 100%;
    /* background: green; */
    height: 15%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    font-weight: 400;
}

.eBestRank{
    position: relative;
    width: 100%;
    height: 85%;
    /* background: red; */
    border-top: 2px solid rgb(10, 10, 10);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.eDivGraph{
    width: 30%;
    position: relative;
    border-left: 2px solid rgb(15, 14, 14);
    height: 100%;
}

