.dishes{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.dishMain{
    position: relative;
    width: 100vw;
    background: rgb(31, 30, 30);
    margin-top: 4%;
    height: 96%;
    display: flex;
    flex-direction: column;
}

.dishEdit{
    width: 100%;
    position: relative;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#dishBTN{
    margin-right: 7%;
    margin-left: 8%;
    height: 60%;
    width: 10%;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#dishBTN:hover{
    background: rgb(190, 190, 190);
}

.options{
    margin-right: 2%;
    height: 60%;
    width: 8%;
    font-size: large;
    border-radius: 8px;
    cursor: pointer;
    background: rgb(26, 26, 26);
    border: 1px solid white;
    color: white;

}

.options:hover{
    background: rgb(190, 190, 190);
    color: black;
}

.dishFoods{
    position: relative;
    width: 100%;
    height: 92%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.dishContainer {
    background: white;
    width: 45%;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 38%;
    margin: 2%;
    border: none;
}

.menuPicDiv {
    position: relative;
    width: 50%;
    border-right: 1.5px solid black;
    height: 100%;
}

.eMenuImg {
    position: relative;
    height: 100%;
    width: 100%;
}

.menuCont {
    position: relative;
    width: 50%;
    word-wrap: normal;
}

.menuCont h1 {
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
    text-decoration: underline;
}

.menuCont p {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: left;
    margin-left: 2%;
}

.botMenu {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 5%;
    height: 15%;
}

.botMenu button{
    width: 25%;
    height: 80%;
    border-radius: 3px;
    background: rgb(180, 177, 177);
}

.botMenu :nth-child(1):hover{
    background: rgb(43, 233, 43);
    color: rgb(0, 0, 0);
}

.botMenu :nth-child(2):hover{
    background: rgb(233, 43, 43);
    color: white;
}

.dishAdd{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.801);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addMain{
    width: 65%;
    height: 65%;
    border: none;
    background: black;
    border-radius: 9px;
    display: flex;
}

.addSide{
    position: relative;
    border-right: 1px solid black;
    width: 50%;
    height: 100%;
    background: rgb(235, 219, 219);
}

.addClose{
    top: 20%;
    right: 7%;
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgb(24, 23, 23);
    color: rgb(158, 156, 156);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.addClose:hover{
    width: 45px;
    height: 45px;
    background: rgb(17, 17, 17);
    color: rgb(218, 212, 212);
}

#addForm{
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
}

#addForm label{
    margin-top: 2%;
}
#addForm select{
    margin-top: 5px;
    width: 15%;
}