
#nOrders {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  
  #nTable {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   border-collapse: collapse;
   width: 80%;
   height: 700px;
   border: 1px solid #000;
   box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px -8px rgba(0, 0, 0, 0, 0.2);
   border-radius: 20px;

  }
  
  #nTh, #nTd {
    padding: 12px;
    text-align: left;
    text-align: center;
    border-bottom: 1px solid #31363a;

  }
  
  #nTh {
    background-color: #31363a;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
    color: #ffa500
  }
  
  tr {
    transition: all .2s ease-in;
    cursor: pointer;
  }
  
  tr:hover {
    background-color: #ffa500;
    transform: scale(1.015);
    box-shadow: #31363a;
  }

  @media only screen and (max-width: 768px) {
    #nTable{
        width: 90%;
        height: 90%;
    }
  }

