.khistory{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.kMain{
    width: 80%;
   display: flex;
    padding: 20px;
    justify-content: center;
    height: 60%;
    overflow: hidden;
    align-items: center;
    
}
.ktable{
  
    width: 80%;
    height: 0%;
    border-collapse: collapse;
    
}
.ktable th,.ktable td{
    
    padding: 20px;
    font-size: 24px;
    border: 1.3px solid orange;

}

.kCaption{
    color: white;
    
    text-align: center;
    font-size: 10px;
}
.kFoodsTD{
    width: 20%;
}

.kFoodsID{
    width: 10%;
}
.kCaption {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1%;
    font-size: 280%;
  
  }
 