.khistory{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    
}

.kMain{
    width: 90%;
    /* margin-top: 10%;
    max-width: 1000px;
    max-height: 800px; */
   display: flex;
    padding: 20px;
    justify-content: center;
    height: 70%;
    overflow: hidden;
    align-items: center;
}
.ktable{
  
    width: 80%;
    height: 100%;
    border-collapse: collapse;
    
}
.ktable th,.ktable td{
    
    padding: 20px;
    font-size: 24px;
    border: 1.3px solid orange;

}

.kCaption{
    color: white;
    
    text-align: center;
    font-size: 10px;
}
.kFoodsTD{
    width: 20%;
}

.kFoodsID{
    width: 10%;
}

.searchHeading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 80%;
  }
  
  .kSearchBar {
    /* flex: 1;  */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 60%;
    padding: 10%;
    height: 40px;
    margin-right: 10px; /* Add some right margin to separate from the button */
}

.kSearchBtn {
    /* Keep a flexible width based on content */
    border: none;
    background-color: #ffa600;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    width: 60%;
    /* Remove fixed width and margin-bottom */
    height: 50px;
}

  
  .kCaption {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding-right: 40%;
    width: 20%;
  }
  .ksearchForm {
    display: flex; /* Use flex to align the items horizontally */
    align-items: center; 
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;/* Align items vertically within the container */
    /* margin-bottom: 5%; This can be adjusted as needed */
  }
