#maLand {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#maLogin h1 {
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#maLogin form {
    margin-top: 2%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#maLogin form div{
    margin-top: 6%;
}

#maButton {
    position: relative;
    background-color: #ffa500;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
}

#markLogin {
    color: white;
    font-size: 15px;
    margin-left: 40px;
}

#maUsername {
    color: orange;
    margin: 5%;
}

#maPassword {
    color: orange;
    margin: 5%;
}

#markusername {
    width: 100%;
    height: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    border: 1px solid white;
    color: white;
}

#markpassword {
    width: 100%;
    height: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    border: 1px solid white;
    color: white;
}

#maForgot {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: small;
}

.moLogin{
    margin-top: 2%;
}