.nCart-container {
  border: 0.6px solid rgb(3, 3, 3);
  margin: 0;
  padding: 0;
  height: 18%;
  width: 45%;
  margin-top: 3%;
}

#eCartMain{
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.eCartContainer{
  position: relative;
  display: flex;
  height: 110%;
  margin-top: 4%;
}
.cartHousing{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: #141414;
  padding-bottom: 1%;
}

.eCartCheckout{
  position: relative;
  width: 40%;
  background-color: #141414;
  height: 100%;
  
}

.nOrderMain {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  background: rgb(0, 0, 0);
  color: white;
}

.nCartImg{
  width: 45%;
  height: 100%;
}

.nFood-details{
  position: relative;
  padding: 0;
  margin: 0;
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding:0;
  padding-left: 2%;
  border-left: 1px solid rgb(7, 7, 7);
}

.nFood-details h2{
  text-align: center;
  margin-top: 2%;
  text-decoration: underline;
}

.nFood-details p{
  margin-bottom: 4%;
  padding: 0;
  text-align: start;
  font-size: 18px;
  color: orange;
}

.nFood-details p span{
  margin: 0;
  padding: 0;
  margin-left: 5px;
  color: white;
}

.nIcon{
  display: flex;
  font-size: 20px;
}

.nIcon span{
  color: orange;
  font-weight: bold;
  margin-right: 2%;
  cursor: pointer;
}

.nRemove{
  margin-left: 35%;
  cursor: pointer;
  display: flex;
  align-items: end;
  margin-top: 2%;
}

.nRemove:hover{
  color: rgba(255, 0, 0, 0.959);
}

.eCartSummary{
  position: relative;
  background: white;
  width: 75%;
  height: 50%;

  margin-top: 15%;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
}

.sumTop{
  position: relative;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sumMid{
  position: relative;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sumBot{
  position: relative;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartCheckOut{
  border: none;
  border-radius: 9px;
  cursor: pointer;
  height: 70%;
  width: 30%;
  font-size: 22px;
  padding-top: 2px;
  text-align: center;
  color: orange;
  background: rgb(0, 0, 0);
}

.sumTable{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.sumTabH{
  width: 100%;
  background: orange;
  font-size: 20px;
}
.sumTabH th{
  width: 100%;
  color: black;
  display: flex;
  justify-content: space-around;
}

.tabRow{
  font-size: 15px;
  display: flex;
  margin-bottom: 2%;
  margin-top: 2%;
  justify-content: flex-start;
  border-color: 1px solid black;
  padding-bottom: 4px;
}

.tabRow1{
  width: 30%;
  text-align: left;
  padding-left: 9px;
}
.tabRow2{
  width: 10%;
  text-align: left;
  padding-left: 9px;
  margin-left: 1%;
  margin-right: 7%;
}

.tabRow3{
  width: 10%;
  text-align: left;
  padding-left: 9px;
  margin-left: 5%;
}