.nCart-container {
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 50%;
}

.nOrderMain {
  display: flex;
  width: 800px;
  height: 400px;
  margin: auto; 
  padding: 15px;
  border: 1px solid #31363a;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
  box-shadow: 2px 2px 2px #31363a;
}

.nOrderMain:hover {
  box-shadow: 2px 2px 2px #0a0a0a;
}

.nOrderMain img {
  max-width: 50%; 
  height: 100%;
  margin-right: 10px;
  object-fit: cover;
}

.nFood-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-left: 10px;
}

/* Food name styling */
.nFood-details h2 {
  font-size: 2.2em;
  margin: 0 0 15px; /* Adjust bottom margin for spacing */
  color: #fff;
  text-decoration-line: underline;
  text-align: center;
}

.nFood-details h2:hover {
  font-size: 2.2em;
  margin: 0 0 15px; /* Adjust bottom margin for spacing */
  color: #31363a;
}

/* Food paragraph styling */
.nFood-details p {
  font-size: 2em;
  margin: 5px 0 15px;
}

.nFood-details p.price {
  font-size: 2em;
  margin: 5px 0 15px;
  color: #fff;
}

/* Food category styling */
.nFood-details p.category {
  color: #fff;
  margin-bottom: 15px; /* Add bottom margin to create space */
}
        




.material-symbols-sharp {
  font-size: 24px;
  cursor: pointer;
  margin: 0 6px;
  color: #ffa500;
}

.material-symbols-sharp:hover {
  color: #31363a; /* Change the color when the cursor hovers over the icon */
}

.bottom {
  margin-top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.nRemove{
  color: #fff;
  font-size: 2em; 
}

/*.nIcon {
  display: flex;
  align-items: center;
  justify-content: left;
  color: #fff;
  font-size: 1.5em;
}*/

.nIcon {
  font-size: 2em;
  color: #fff;
}

