.nCart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  /*overflow-y: scroll;*/
  width: 100%;
  height: 50%;
  
}

.nOrderMain {
  display: flex;
  width: 800px;
  height: 400px;
  margin: auto; 
  padding: 15px;
  border: 1px solid #31363a;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
  box-shadow: 4px 4px 2px #31363a;
}

.nOrderMain:hover {
  color: #31363a;
}

.nOrderMain img {
  max-width: 400px; 
  height: auto;
  margin-right: 10px; 
}

.nFood-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-left: 10px;
}

/* Food name styling */
.nFood-details h2 {
  font-size: 2.2em;
  margin: 0 0 15px; /* Adjust bottom margin for spacing */
  color: #ffa500;
}

.nFood-details h2:hover {
  font-size: 2.2em;
  margin: 0 0 15px; /* Adjust bottom margin for spacing */
  color: #31363a;
}

/* Food paragraph styling */
.nFood-details p {
  font-size: 2em;
  margin: 5px 0 15px;
}

.nFood-details p.price {
  font-size: 2em;
  margin: 5px 0 15px;
  color: #fff;
}

/* Food category styling */
.nFood-details p.category {
  color: #fff;
  margin-bottom: 15px; /* Add bottom margin to create space */
}
        
/* Button styling */
.nFood-details button {
  background-color: #ffa500;
  color: white;
  font-size: 22px;
  border: none;
  padding: 10px 5px;
  margin: 20px 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  
}      

.food-details button:hover {
  background-color: #ff8120;
}

/* Preparation time styling */
.preparation-time {
  font-size: 0.9em;
  color: #666;
  margin-top: 5px;
}

#nIcon {
  display: flex;
  align-items: center;
  justify-content: left;
  color: #fff;
  font-size: 1.5em;
}

.material-symbols-sharp {
  font-size: 24px;
  cursor: pointer;
  margin: 0 6px;
  color: #ffa500;
}

.material-symbols-sharp:hover {
  color: #ff8120; /* Change the color when the cursor hovers over the icon */
}