#gHomeContainer{
  position: absolute;
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgb(255, 255, 255);
}

.gHomeContent{
  position: relative;
  width: 100vw;
  height: 200vh ;
  margin-top: 4.4%;
  background: rgb(7, 7, 7);
  display: flex;
  flex-direction: column;
}


.gHomeBanner{
  position: sticky;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../../assets/Banner.jpg');
  min-height: 20vw;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2%;
}

.gHomeMain{
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0);
  min-height: 70%;
}

.gHomeFooter{
  margin: 0;
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: row;
  height: 10%;
  background: rgb(0, 0, 0);
}

.gHomePart{
  margin: 0;
  position: relative;
  width: 100%;
  height: 55%;
  background: rgb(7, 7, 7);
  display: flex;
  flex-direction: column;
  color: white;
}

.gHomePart h1{
  padding: 0;
  margin: 0;
}

.gHomeTags{
  position: relative;
  width: 100%;
  background: rgb(7, 7, 7);
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  border: 8px;
}

.gTopHome{
  position: relative;
  height: 70%;
  background: rgb(0, 0, 0);
  width: 16%;
  border-radius: 10px;
}

.gTopComp{
  position: relative;
  width: 100%;
  height: 70%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.gHomePic{
  position: relative;
  width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.gBottomComp{
  position: relative;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
}

.gBotLeft{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-left: 2%;
}

.gBotLeft p, .gBotLeft h2{
  padding: 0;
  margin: 0;
  margin-top: 2px;
  margin-top: 2%;
  color: orange;
}

.gBotLeft p span{
  color: white;
}

#eSearch{
  position: relative;
  width: 60%;
  height: 15%;
  border-radius: 15px;
  display: flex;
  justify-content:start;
}

/* #gSearch input{
  position: relative;
  height: 100%;
  border: none;
  margin: 0;
} */

#eButton1{
  position: relative;
  width: 44%;
  border: none;
  border-radius: 0%;
  border-right: 1px solid black;
  height: 60%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: black;
  text-align: center;
  font-size: large;
  text-decoration: underline;
  background: rgba(206, 205, 205, 0.747);
}

#eButton2 {
  position: relative;
  width: 44%;
  border: none;
  border-radius: 0%;
  border-right: 1px solid black;
  color: black;
  height: 60%;
  text-align: center;
  font-size: large;
  background: rgba(206, 205, 205, 0.747);
}

#eButton3 {
  position: relative;
  padding: 0;
  margin: 0;
  width: 12%;
  border: none;
  height: 90%;
  color: rgba(255, 255, 255, 0.993);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  font-size: large;
  background: rgba(255, 166, 0, 0.747);
}

 #gH1 {
   color: #ecebeb;
   display: flex;
   justify-content: center;
   font-size: 50px;
   text-decoration: underline;
 }


















#gImage {
  position: relative;
  text-align: center;
  height: 40vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);

}







/* Homepage.css */

/* Reset default margin and padding for the whole page */
/* body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  } */
/* #gHomeContainer{
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background: black
}
  
  Style the header
#gHeader {
    background-color: #000;
    padding: 1px;
    margin: 10px;
    
  }
  
  #gHeader nav {
    display: flex;
    justify-content: center;
    padding: 30px;
    
    
  }
  
  #gHeader ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
    
  }
  
  #gHeader li {
    display: inline;
    margin-right: 250px;
    
  }

  #gLogo {
    height: 170px;
    position: absolute;
    top:  0px;
    left: 1px;
  }
  
  #gHeader li:last-child {
    margin-right: 0;
  }
  
  #gHeader a {
    text-decoration: none;
    color: #fff;
    font-size: 34px;
  }
  
  #gHeader a:hover {
    color: #555;
  }

#gImage {
    position: relative;
    text-align: center;
    height: 40vh; 
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);

  }
  
#gImage img {
   width: 100%;
   height: auto;
  }

  #gImage h2 {
    position: absolute;
    top: 20%; 
    left: 40%; 
    transform: translate(-50%, -50%); 
    color: #fff;
    font-size: 90px;
  } 

 #gButton {
    position: absolute; 
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff; 
    padding: 10px;
    border-radius: 8px;
  }

  #gButton1 {
    padding: 8px;
     margin-right: 5px;
      width: 350px;
      text-align: center; 
      font-size: 18px;
      color: #000; 
      background-color: transparent;
      border: none;
      
      outline: none;
  }

  #gButton2 {
    padding: 8px;
    margin-right: 5px;
    width: 350px;
    font-size: 18px;
    color: #000;
    background-color: transparent; 
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
  }

  #gButton3 {
    padding: 8px 16px;
    background-color: #ffa500;
    color: #fff;
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
  }

  #gH1 {
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 20px;
   
  }

  .gContentHome{
    position: relative;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  .gBody{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #gRest {
    position: relative;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; 
    height: 50vh;
    flex-direction: column;
  } */


  

 /* #gRestaurantCard {
    position: relative;
    border: 1px solid #ffa500;
    border-radius: 20px;
    padding: 10px;
    margin: 100px;
    flex: 0 0 calc(33% - 20px);
     max-width: calc(33% - 20px); 
     text-align: center;
    background-color: #000;
  } 

  #gRestaurantDiscount {
    position: absolute;
    top: 40px;
    right: 80px;
    background-color: #ffa500;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 19px;
  }
 
  #gRestaurantName {
    color: #fff;
  }

  #gRestaurantImage img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-right: 70%;
    border-radius: 20px;
  }

  #gRestaurantRating {
    color: white;
    align-content: left;
  }

  #gRestaurantTime {
    color: #fff;
  }

  #gFooter {
    position: relative;
    background-color: #000;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    flex-direction: column;
  }
  
  #gfooterLogo img {
    height: 170px;
    position: absolute;
    top: 175%;
    left: 1px;
  }
  
  #gfooterContent {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #gfooterContent p {
    margin: 5px;
  }
  
  #gfooterYear {
    color: #fff;
  }

  #additionalDiv {
    background-color: #000;
    color: #fff;
    border: #f7a713;
    font-size: px;
    top: 10px;
    border-radius: 10px;
    border-color: #f75b13;
    border-width: 15px;
    max-width: 200px;
  }


   #gHeader {
      background-color: #000;
      padding: 1px;
      margin: 10px;
  
    }
  
    #gHeader nav {
      display: flex;
      justify-content: center;
      padding: 30px;
  
  
    }
  
    #gHeader ul {
      list-style: none;
      margin: 0;
      padding: 0;
  
  
    }
  
    #gHeader li {
      display: inline;
      margin-right: 250px;
  
    }
  
    #gLogo {
      height: 170px;
      position: absolute;
      top: 0px;
      left: 1px;
    }
  
    #gHeader li:last-child {
      margin-right: 0;
    }
  
    #gHeader a {
      text-decoration: none;
      color: #fff;
      font-size: 34px;
    }
  
    #gHeader a:hover {
      color: #555;
    }
  
    #gImage {
      position: relative;
      text-align: center;
      height: 40vh;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.3);
  
    }
  
    #gImage img {
      width: 100%;
      height: auto;
    }
  
    #gImage h2 {
      position: absolute;
     top: 20%; 
       left: 40%;
       transform: translate(-50%, -50%); 
       color: #fff;
      font-size: 90px;
    } */

    /* #gButton {
      position: absolute; 
      top: 70%;
      left: 40%;
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: #fff; 
      padding: 10px;
      border-radius: 8px;
    }
  
    #gButton1 {
      padding: 8px;
       margin-right: 5px;
        width: 350px;
        text-align: center; 
        font-size: 18px;
        color: #000; 
        background-color: transparent;
        border: none;
        
        outline: none;
    }
  
    #gButton2 {
      padding: 8px;
      margin-right: 5px;
      width: 350px;
      font-size: 18px;
      color: #000;
      background-color: transparent; 
      border: none;
      border-bottom: 2px solid #fff;
      outline: none;
    }
  
    #gButton3 {
      padding: 8px 16px;
      background-color: #ffa500;
      color: #fff;
      border: none; 
      border-radius: 4px; 
      cursor: pointer;
    } */

        /* #gH1 {
          color: #fff;
          display: flex;
          justify-content: center;
          font-size: 20px;
    
        } */