.gOrderTrack {
    background-color: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .gOrderTrack-content {
    margin: 20px;
    padding: 20px;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-top: 10%;
  }
  
  .gOrders-container {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .gOrder {
    border: 1px solid #ffa500;
    padding: 10px;
    border-radius: 6px;
    background-color: #000;
    box-shadow: 4px 4px 2px #31363a;
  }

  .gOrder:hover {
    transform: translateY(-15px); 
    box-shadow: 4px 4px 6px rgba(238, 159, 14, 0.678);
  }
  
  .gOrder h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .gOrder p {
    font-size: 14px;
    margin: 6px 0;
  }

  .gOrder img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 6px;
  }
  
  .gOrder button {
    background-color: #ffa500;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-bottom: 0px;
    margin-left: 76%;
  }
  
  .gOrder button:hover {
    background-color: #31363a;
  }