.ePayment{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgb(17, 17, 17);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eMpesa{
    width: 40%;
    height: 80%;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 140px auto; */
}

.eMpesaLogo{
    width: 200px;
    height: 200px;
    margin-top: 50px;
}
.eMpesaForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    position: relative;
    width:80% ;
    height: 50%;
    align-items: center;
}
.eMpesaInputs{
    position: relative;
    width: 60%;
    height: 10%;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    border: none;
    

}
.eMpesaForm input[type=number]::-webkit-inner-spin-button,
.eMpesaForm  input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
.eMpesaInputs:hover{
    border: 3px solid rgb(188, 122, 0);
    ;
}


.eMpesaButton{
    cursor: pointer;
    width: 60%;
    height: 13%;
    border: none;
    border-radius: 15px;
    font-size: 30px;
    text-align: center;


    
}
.eMpesaButton:hover{
    background-color: orange;
    color: white;
}

.eMpesaConfirm{
    width: 48%;
    height: 7%;
    border-radius: 20px;
    border: none;
    font-size: 30px;
    text-align: center;
}

.eMpesaConfirm:hover{
    background-color: orange;
    color: white;

}
.kText{
    color: white;
}