.blog{
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: none;
}

.blogHeader{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: black;
    height: 10%;
}

.blogProf{
    position: relative;
    height: 70%;
    width: 4%;
    background: white;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

.blogDisplay{
    background: rgb(255, 166, 0);
    position: relative;
    width: 100%;
    overflow-y: auto;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2%;
    gap: 3%;
}

.blogCard{
    background: black;
    width: 20%;
    height: 44%;
}