#rootNav{
    color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    padding-top: 1px;
    border-bottom: 0.1px solid black;
}

.rLink{
    position: relative;
    height: 90%;
    /* border: 1px solid white; */
    width: 13%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: large;
    font-weight: 400;
    padding-top: 1px;
}

.rLink:hover{
    color: orange;
    font-weight: 500;
}

.rLogo{
    background: url('../../assets/logo.svg');
    background-size: 150px;
    background-color: black;
    background-repeat: no-repeat;
    background-position:left;
    margin-top: 5px;
}

.rProf{
    background-color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-top: 4px;
    background: url('../../assets/profile1.png');
    background-size: contain;
}

.cartCount{
    position: relative;
    background: rgb(255, 176, 31);
    border-radius: 50%;
    height: 40%;
    width: 11%;
    text-align: center;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
}

.rCart{
    padding-top: 5px;
}

.rProfSetting{
    position: absolute;
    height: 70px;
    width: 9%;
    top: 6%;
    right: 0.4%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 6px;
}

.rProfSettingItem{
    position: relative;
    width: 90%;
    height: 50%;
    background: transparent;
    color: black;
    text-align: left;
    padding-top: 5%;
    padding-left: 10%;
    display: flex;
    border: 1px solid black;
    cursor: pointer;
}

.rProfSettingItem *:hover{
    color: rgb(255, 166, 0);
    font-size: 500;
}

.rProfSettingItem span, .rProfSettingItem p{
    background: transparent;
    padding: 0;
    margin: 0;
    color: black;
    margin-left: 5%;
}
