.Chwey-profile-container {
    background-color: black;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.Chwey-profile-header {
    text-align: center;
    margin-bottom: 20px;

}

.Chwey-profile-logo {
    cursor: pointer;
    /* margin-left: 20px; */
}

.Chwey-profile-main {
    display: flex;
    justify-content: space-between;
}

.Chwey-profile-display {
    background-color: grey;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    width: 50%;
    margin-left: 55px;
}

.Chwey-profile-details p,
/* .Chwey-profile-ratings p, */
.Chwey-profile-price-range p,
.Chwey-profile-cuisine p,
.Chwey-profile-address p,
.Chwey-profile-ratings p {

    color: white;
    padding: 9px;
}

.Chwey-profile-picture img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    /* margin-left: 345px; */
}

/* Add these styles to your CSS file */
.Chwey-profile-edit-section {
    background-color: grey;
    padding: 80px;
    border-radius: 5px;
    margin-right: 50px;
    width: 300px;
}

.Chwey-edit-section-input {
    width: 80%;
    padding: 7px;
    margin-bottom: 10px;
  
    border-radius: 3px;
    font-size: 14px;
    background-color: grey;
    color: white;
}

/* Style the checkbox label */
label {
    display: block;
    margin-bottom: 10px;
}




.Chwey-profile-edit-button {
    display: block;
    border: none;
    margin: 0 auto;
    background-color: orange;
    padding: 10px;
    color: white;
    margin-top: 30px;
}