.ResetPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
}

.ResetPassword h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.ResetPassword p {
    font-size: 16px;
    margin-bottom: 5px;
}

.ResetPassword input {
    width: 30%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ResetPassword button {
    background-color: orange;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ResetPassword button:hover {
    background-color: #0056b3;
}
